build/analytics.html
<!DOCTYPE html>
<html lang="ru">

    <head>
        <title>Analytics page</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="http://fonts.googleapis.com/css?family=Roboto:100&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>
        <div class="teaser"></div>
        <section class="top-section">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 adress">
                            <span class="icon-compass-1 text-orange fz16 dib"></span>
                            <span class="fz12">Москва, ул. Тверская, 7 | Краснодар, ул. Новокузнечная, 36 | Красноярск, ул. Диксона, 1</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="email pull-left">
                                <span class="icon-mail text-orange fz16"></span>
                                <span class="fz12">
                                    <a href="mailto: welcome@manalaw.ru"> welcome@manalaw.ru</a>
                                </span>
                            </div>
                            <div class="social pull-right">
                                <p class="mb0 fz12 pull-left">Поделиться:</p>
                                <ul class="lsn clearfix pull-right pl0 mb0">
                                    <li class="pull-left">
                                        <a onclick="Share.google('http://google.com')" class="cur no-underline fz15 db icon-gplus"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.twitter('http://google.com','TITLE')" class="cur no-underline fz15 db icon-twitter"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.vkontakte('http://google.com','TITLE','IMG_PATH','DESC')" class="cur no-underline fz15 db icon-vk"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.facebook('http://google.com','TITLE','IMG_PATH','DESC')" class="cur no-underline fz15 db icon-facebook"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.odnoklassniki('http://google.com','DESC')" class="cur no-underline fz15 db icon-odnoklassniki"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container text-white">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="logo db">
                                <a href="#">
                                    <img src="img/header_logo.png" class="pull-left">
                                </a>
                                <p class="title fz22 text-uppercase">Mana Corporate law</p>
                                <p class="description">Law firm</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="menu">
                                <ul class="lsn clearfix pl0 mb0">
                                    <li class="pull-left active">
                                        <a href="/" class="db no-underline">Главная</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="/about.html" class="db no-underline">О компании</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="/news.html" class="db no-underline">Новости и аналитика</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="#" class="db no-underline">Услуги</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="phone pull-right">
                                <span class="icon-mobile-1 text-orange fz36 dib"></span>
                                <span class="fz27">
                                    <a href="tel:+7 (988) 240-89-10">+7 (988) 240-89-10</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <article class="main">
            <div class="section-head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="section-title">О предоставлении и использовании гражданами земель сельскохозяйственного назначения. Разъяснения верховного суда рф</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-line mb26"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="fz20 text-bold">В Обзоре судебной практики Верховного Суда Российской Федерации, утв. Президиумом Верховного Суда РФ 4 июня 2014 года, даны разъяснения на следующие вопросы:</h4>
                        <div class="selected-text">
                            <p>1 вопрос. Допустимо ли предоставление гражданину в индивидуальном порядке земельного участка из земель сельскохозяйственного назначения для осуществления садоводства, огородничества и ведения дачного хозяйства</p>
                            <p>Ответ. Согласно п. 1 ст. 1 Федерального закона от 24 июля 2002 г. № 101-ФЗ «Об обороте земель сельскохозяйственного назначения» его действие не распространяется на земельные участки, предоставленные из земель сельскохозяйственного
                                назначения гражданам для ведения дачного хозяйства, садоводства и огородничества. Оборот указанных земельных участков регулируется Земельным кодексом Российской Федерации. Аналогичные положения содержатся в пп. 6, 7 ст.
                                27 ЗК РФ.</p>
                        </div>
                        <p class="text-gray">Пункт 1 ст. 78 ЗК РФ определяет, что земли сельскохозяйственного назначения могут использоваться для ведения сельскохозяйственного производства, создания защитных лесных насаждений, научно-исследовательских, учебных и иных связанных
                            с сельскохозяйственным производством целей гражданами, ведущими личные подсобные хозяйства, садоводство, животноводство, огородничество, а также некоммерческими организациями.</p>
                        <p class="text-gray">Порядок предоставления земельных участков гражданам и их объединениям для ведения садоводства, огородничества и дачного строительства устанавливается названным кодексом, федеральным законом о садоводческих, огороднических и дачных
                            некоммерческих объединениях граждан (п. 2 ст. 81 ЗК РФ) .</p>
                        <p class="text-gray">В соответствии с п. 4 ст. 13 Федерального закона от 15 апреля 1998 г. № 66-ФЗ «О садоводческих, огороднических и дачных некоммерческих объединениях граждан» орган местного самоуправления на основании утверждённого списка граждан,
                            подавших заявление о предоставлении садового, огородного или дачного земельного участка, определяет потребности в садовых, огородных или дачных земель ны х уч ас тк ах .</p>
                        <p class="text-gray">Порядок выбора и предоставления земельных участков гражданам для указанных выше целей определён ст. 14 н азва нног о за ко на.</p>
                        <p class="text-gray">В частности, орган местного самоуправления с учётом пожеланий граждан и с их согласия формирует персональный состав членов садоводческого, огороднического или дачного некоммерческого объединения, после государственной регистрации
                            которого ему в соответс твии с земельным законодательством бесплат но пре достав ляется з емел ьн ый у ча сток.</p>
                        <p class="text-gray">После утверждения проекта организации и застройки территории указанного объединения и вынесения данного проекта в натуру членам этого некоммерческого объединения предоставляются земельные участки в собственность .</p>
                        <p class="text-gray">При передаче за плату земельный участок первоначально предоставляется в совместную собственность членов некоммерческого объединения с последующим предоставлением земельных участков в собственность каждого члена садоводческого,
                            огороднического или дачного некоммерческого объединения.</p>
                        <p class="text-gray">Иного порядка предоставления гражданам земельных участков сельскохозяйственного назначения для назв анных целей данный з акон н е со де ржит.</p>
                        <p class="text-gray">Таким образом, действующее земельное законодательство закрепляет возможность предоставления земельных участков сельскохозяйственного назначения для осуществления садоводства, огородничества и ведения дачного хозяйс тва только гра
                            жданам , входящ им в состав со ответствую щего неком мерческо го объединения.</p>
                        <p class="text-gray">Выделение названных земель гражданам в индивидуальном порядке законом не предусмотрено.</p>
                        <div class="selected-text">
                            <p>2 ВОПРОС. Допускается ли использование земель сельскохозяйственного назначения для индивидуального жилищного строительства? Возможно ли изменение вида разрешённого использования земельного участка сельскохозяйственного назначения
                                (например, «для ведения крестьянского (фермерского) хозяйства», «для ведения личного подсобного хозяйства» и т.п.) на вид разрешённого использования «для ведения дачного хозяйства» («для дачного строительства»)?</p>
                            <p>Ответ. В силу п. 1 ст. 1 Федерального закона от 24 июля 2002 г. № 101-ФЗ «Об обороте земель сельскохозяйственного назначения» его действие не распространяется на земельные участки, предоставленные из земель сельскохозяйственного
                                назначения гражданам для индивидуального жилищного, гаражного строительства, ведения личного подсобного и дачного хозяйства, садоводства, животноводства и огородничества, а также на земельные участки, занятые зданиями,
                                строениями, сооружениями. Оборот указанных земельных участков регулируется ЗК РФ.</p>
                        </div>
                        <p class="text-gray">Согласно ст. 77 ЗК РФ землями сельскохозяйственного назначения признаются земли, находящиеся за границами населённого пункта и предоставленные для нужд сельского хозяйства, а также предназначенные для этих целей, в составе которых
                            выделяются сельскохозяйственные угодья.</p>
                        <p class="text-gray">1. Статья 79 названного закона определяет особенности использования сельскохозяйственных угодий и устанавливает, что сельскохозяйственные угодья – пашни, сенокосы, пастбища, залежи, земли, занятые многолетними насаждениями (садами,
                            виноградниками и другими), – в составе земель сельскохозяйственного назначения имеют приоритет в использовании и подлежат особой охране. Особо ценные продуктивные сельскохозяйственные угодья могут быть в соответствии с законодательством
                            субъектов Российской Федерации включены в перечень земель, использование которых для других целей не допускается (пп. 1 и 4).</p>
                        <p class="text-gray">В соответствии с п. 2 ст. 7 ЗК РФ правовой режим земель определяется исходя из их принадлежности к той или иной категории и разрешённого использования в соответствии с зонированием территорий, общие принципы и порядок проведения
                            которого устанавливаются федеральными законами и требованиями специальных федеральных законов.</p>
                        <p class="text-gray">Для земель сельскохозяйственных угодий в составе земель сельскохозяйственного назначения градостроительное зонирование не осуществляется и виды разрешённого использования земельных участков и объектов капитального строительства
                            не устанавливаются, вследствие этого они не могут быть изменены. Запрет на установление градостроительного регламента исключает возможность использования указанных земель для застройки и последующей эксплуатации объектов строительства,
                            а также применение порядка принятия решений об изменении вида разрешённого использования земельных участков и объектов капитального строительства, предусмотренного п. 3 ч. 1 ст. 4 Федерального закона от 29 декабря 2004 г. №
                            191-ФЗ «О введении в действие Градостроительного кодекса Российской Федерации».</p>
                        <p class="text-gray">Иного федерального закона, регламентирующего использование земельных участков, для которых градостроительные регламенты не устанавливаются и определяется порядок проведения зонирования территорий, не имеется, что означает невозможность
                            изменения вида разрешённого использования земельных участков сельскохозяйственных угодий в составе земель сельскохозяйственного назначения и действие принципа сохранения целевого использования данных земельных участков, закреплённого
                            подп. 1 п. 3 ст. 1 Федерального закона от 24 июля 2002 г. № 101-ФЗ «Об обороте земель сельскохозяйственного назначения».</p>
                        <p class="text-gray">Таким образом, для сельскохозяйственных угодий установлен особый правовой режим, имеющий целью охрану указанных земель и недопущение выведения таких земель из сельскохозяйственного оборота, осуществления их застройки, в том числе
                            в целях использования в сельскохозяйственной деятельности.</p>
                        <p class="text-gray">Изменение вида разрешённого использования для сельскохозяйственных угодий в составе земель сельскохозяйственного назначения возможно только после перевода этих земель или земельных участков в составе таких земель из земель сельскохозяйственного
                            назначения в другую категорию.</p>
                        <p class="text-gray">2.Статья 81 ЗК РФ закрепляет положение о предоставлении земель сельскохозяйственного назначения гражданам для ведения крестьянского (фермерского) хозяйства и личного подсобного хозяйства, гражданам и их объединениям для ведения
                            садоводства, огородничества и дачного строительства и не предусматривает их использование для индивидуального жилищного строительства.</p>
                        <p class="text-gray">Согласно ч. 10 ст. 35 и ч. 3 ст. 36 ГсК РФ зоны сельскохозяйственного использования (в том числе зоны сельскохозяйственных угодий), а также зоны, занятые объектами сельскохозяйственного назначения и предназначенные для ведения
                            сельского хозяйства, дачного хозяйства, садоводства, развития объектов сельскохозяйственного назначения, могут включаться в состав территориальных зон, устанавливаемых в границах населённых пунктов. На земельные участки и объекты
                            капитального строительства, расположенные в пределах границ этой территориальной зоны, распространяется действие градостроительного регламента.</p>
                        <p class="text-gray">С учётом названных положений и правил п. 2 ст. 7 ЗК РФ земельные участки, предоставленные из земель сельскохозяйственного назначения гражданам для ведения крестьянского (фермерского) хозяйства и личного подсобного хозяйства, гражданам
                            и их объединениям для ведения садоводства, огородничества и дачного строительства, могут включаться в состав указанных территориальных зон в границах населённых пунктов в результате перевода этих земельных участков в иную категорию
                            – «земли населённых пунктов».</p>
                        <p class="text-gray">Однако до перевода земель в другую категорию в действующем законодательстве отсутствуют основания для изменения вида разрешённого использования земель сельскохозяйственных угодий в составе земель сельскохозяйственного назначения,
                            а также земельных участков сельскохозяйственного назначения, предоставленных для ведения садоводства, огородничества и дачного строительства, крестьянского (фермерского) хозяйства и личного подсобного хозяйства гражданам и
                            их объединениям.</p>
                    </div>
                </div>
            </div>
            <div class="article-controls">
                <div class="border"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="" class="db">Предыдущая статья</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="" class="db">Следующяя статья</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <section class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="title">
                            <h4 class="text-white text-center fz40">Услуги:</h4>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <ul class="clearfix lsn">
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Корпоративное управление и раскрытие информации</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Продажа доли ООО, акций, бизнеса</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Эмиссия ценных бумаг и регистрация акций</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Региональное представительство</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Создание и регистрация фирм: АО и ООО</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="copyright">
                            <p>© «Мана. Юридическая фирма» 2015. Все права защищены.</p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="footer-logo">
                            <span class="fz13">Интернет агентство -</span>
                            <a href="http://art6.ru">
                                <img src="img/art6_logo.png" class="dib">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5,underscorejs@1.8.3"></script>
        <script src="js/flux.min.js"></script>
        <script src="js/jquery.bxslider.min.js"></script>
        <script src="js/jquery.texttailor.min.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>

jade/analytics.jade
extends meta/_layout

block title
  title Analytics page

block variables
  -var top_menu = true
  -var form = false
  -var teaser = true

block content
  article.main
    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title О предоставлении и использовании гражданами земель сельскохозяйственного назначения. Разъяснения верховного суда рф

    .container
      .row
        .col-xs-12
          .section-line.mb26
          
    .container
      .row
        .col-xs-12    
          h4.fz20.text-bold В Обзоре судебной практики Верховного Суда Российской Федерации, утв. Президиумом Верховного Суда РФ 4 июня 2014 года, даны разъяснения на следующие вопросы:
          .selected-text
            p 1 вопрос. Допустимо ли предоставление гражданину в индивидуальном порядке земельного участка из земель сельскохозяйственного назначения для осуществления садоводства, огородничества и ведения дачного хозяйства
            p Ответ. Согласно п. 1 ст. 1 Федерального закона от 24 июля 2002 г. № 101-ФЗ «Об обороте земель сельскохозяйственного назначения» его действие не распространяется на земельные участки, предоставленные из земель сельскохозяйственного назначения гражданам для ведения дачного хозяйства, садоводства и огородничества. Оборот указанных земельных участков регулируется Земельным кодексом Российской Федерации. Аналогичные положения содержатся в пп. 6, 7 ст. 27 ЗК РФ.
          p.text-gray Пункт 1 ст. 78 ЗК РФ определяет, что земли сельскохозяйственного назначения могут использоваться для ведения сельскохозяйственного производства, создания защитных лесных насаждений, научно-исследовательских, учебных и иных связанных с сельскохозяйственным производством целей гражданами, ведущими личные подсобные хозяйства, садоводство, животноводство, огородничество, а также некоммерческими организациями.
          p.text-gray Порядок предоставления земельных участков гражданам и их объединениям для ведения садоводства, огородничества и дачного строительства устанавливается названным кодексом, федеральным законом о садоводческих, огороднических и дачных некоммерческих объединениях граждан (п. 2 ст. 81 ЗК РФ)            .
          p.text-gray В соответствии с п. 4 ст. 13 Федерального закона от 15 апреля 1998 г. № 66-ФЗ «О садоводческих, огороднических и дачных некоммерческих объединениях граждан» орган местного самоуправления на основании утверждённого списка граждан, подавших заявление о предоставлении садового, огородного или дачного земельного участка, определяет потребности в садовых, огородных или дачных земель  ны  х   уч  ас  тк  ах            .
          p.text-gray Порядок выбора и предоставления земельных участков гражданам для указанных выше целей определён   ст.   14 н  азва  нног      о   за      ко  на.
          p.text-gray В частности, орган местного самоуправления с учётом пожеланий граждан и с их согласия формирует персональный состав членов садоводческого, огороднического или дачного некоммерческого объединения, после государственной регистрации которого ему в соответс твии с земельным законодательством бесплат  но пре  достав  ляется     з  емел    ьн  ый у    ча  сток.
          p.text-gray После утверждения проекта организации и застройки территории указанного объединения и вынесения данного проекта в натуру членам этого некоммерческого объединения предоставляются земельные участки в собственность            .
          p.text-gray При передаче за плату земельный участок первоначально предоставляется в совместную собственность членов некоммерческого объединения с последующим предоставлением земельных участков в собственность каждого члена садоводческого, огороднического или дачного некоммерческого объединения.
          p.text-gray Иного порядка предоставления гражданам земельных участков сельскохозяйственного назначения для назв  анных   целей   данный     з  акон     н  е со    де  ржит.
          p.text-gray Таким образом, действующее земельное законодательство закрепляет возможность предоставления земельных участков сельскохозяйственного назначения для осуществления садоводства, огородничества и ведения дачного хозяйс  тва только гра  жданам  , входящ  им   в состав со    ответствую  щего   неком  мерческо  го   объединения.
          p.text-gray Выделение названных земель гражданам в индивидуальном порядке законом не предусмотрено.
          .selected-text
            p 2 ВОПРОС. Допускается ли использование земель сельскохозяйственного назначения для индивидуального жилищного строительства? Возможно ли изменение вида разрешённого использования земельного участка сельскохозяйственного назначения (например, «для ведения крестьянского (фермерского) хозяйства», «для ведения личного подсобного хозяйства» и т.п.) на вид разрешённого использования «для ведения дачного хозяйства» («для дачного строительства»)?
            p Ответ. В силу п. 1 ст. 1 Федерального закона от 24 июля 2002 г. № 101-ФЗ «Об обороте земель сельскохозяйственного назначения» его действие не распространяется на земельные участки, предоставленные из земель сельскохозяйственного назначения гражданам для индивидуального жилищного, гаражного строительства, ведения личного подсобного и дачного хозяйства, садоводства, животноводства и огородничества, а также на земельные участки, занятые зданиями, строениями, сооружениями. Оборот указанных земельных участков регулируется ЗК РФ.
          p.text-gray Согласно ст. 77 ЗК РФ землями сельскохозяйственного назначения признаются земли, находящиеся за границами населённого пункта и предоставленные для нужд сельского хозяйства, а также предназначенные для этих целей, в составе которых выделяются сельскохозяйственные угодья.
          p.text-gray 1. Статья 79 названного закона определяет особенности использования сельскохозяйственных угодий и устанавливает, что сельскохозяйственные угодья – пашни, сенокосы, пастбища, залежи, земли, занятые многолетними насаждениями (садами, виноградниками и другими), – в составе земель сельскохозяйственного назначения имеют приоритет в использовании и подлежат особой охране. Особо ценные продуктивные сельскохозяйственные угодья могут быть в соответствии с законодательством субъектов Российской Федерации включены в перечень земель, использование которых для других целей не допускается (пп. 1 и 4).
          p.text-gray В соответствии с п. 2 ст. 7 ЗК РФ правовой режим земель определяется исходя из их принадлежности к той или иной категории и разрешённого использования в соответствии с зонированием территорий, общие принципы и порядок проведения которого устанавливаются федеральными законами и требованиями специальных федеральных законов.
          p.text-gray Для земель сельскохозяйственных угодий в составе земель сельскохозяйственного назначения градостроительное зонирование не осуществляется и виды разрешённого использования земельных участков и объектов капитального строительства не устанавливаются, вследствие этого они не могут быть изменены. Запрет на установление градостроительного регламента исключает возможность использования указанных земель для застройки и последующей эксплуатации объектов строительства, а также применение порядка принятия решений об изменении вида разрешённого использования земельных участков и объектов капитального строительства, предусмотренного п. 3 ч. 1 ст. 4 Федерального закона от 29 декабря 2004 г. № 191-ФЗ «О введении в действие Градостроительного кодекса Российской Федерации».
          p.text-gray Иного федерального закона, регламентирующего использование земельных участков, для которых градостроительные регламенты не устанавливаются и определяется порядок проведения зонирования территорий, не имеется, что означает невозможность изменения вида разрешённого использования земельных участков сельскохозяйственных угодий в составе земель сельскохозяйственного назначения и действие принципа сохранения целевого использования данных земельных участков, закреплённого подп. 1 п. 3 ст. 1 Федерального закона от 24 июля 2002 г. № 101-ФЗ «Об обороте земель сельскохозяйственного назначения».
          p.text-gray Таким образом, для сельскохозяйственных угодий установлен особый правовой режим, имеющий целью охрану указанных земель и недопущение выведения таких земель из сельскохозяйственного оборота, осуществления их застройки, в том числе в целях использования в сельскохозяйственной деятельности.
          p.text-gray Изменение вида разрешённого использования для сельскохозяйственных угодий в составе земель сельскохозяйственного назначения возможно только после перевода этих земель или земельных участков в составе таких земель из земель сельскохозяйственного назначения в другую категорию.
          p.text-gray 2.Статья 81 ЗК РФ закрепляет положение о предоставлении земель сельскохозяйственного назначения гражданам для ведения крестьянского (фермерского) хозяйства и личного подсобного хозяйства, гражданам и их объединениям для ведения садоводства, огородничества и дачного строительства и не предусматривает их использование для индивидуального жилищного строительства.
          p.text-gray Согласно ч. 10 ст. 35 и ч. 3 ст. 36 ГсК РФ зоны сельскохозяйственного использования (в том числе зоны сельскохозяйственных угодий), а также зоны, занятые объектами сельскохозяйственного назначения и предназначенные для ведения сельского хозяйства, дачного хозяйства, садоводства, развития объектов сельскохозяйственного назначения, могут включаться в состав территориальных зон, устанавливаемых в границах населённых пунктов. На земельные участки и объекты капитального строительства, расположенные в пределах границ этой территориальной зоны, распространяется действие градостроительного регламента.
          p.text-gray С учётом названных положений и правил п. 2 ст. 7 ЗК РФ земельные участки, предоставленные из земель сельскохозяйственного назначения гражданам для ведения крестьянского (фермерского) хозяйства и личного подсобного хозяйства, гражданам и их объединениям для ведения садоводства, огородничества и дачного строительства, могут включаться в состав указанных территориальных зон в границах населённых пунктов в результате перевода этих земельных участков в иную категорию – «земли населённых пунктов».
          p.text-gray Однако до перевода земель в другую категорию в действующем законодательстве отсутствуют основания для изменения вида разрешённого использования земель сельскохозяйственных угодий в составе земель сельскохозяйственного назначения, а также земельных участков сельскохозяйственного назначения, предоставленных для ведения садоводства, огородничества и дачного строительства, крестьянского (фермерского) хозяйства и личного подсобного хозяйства гражданам и их объединениям.
    
    .article-controls
      .border
      .container
        .row
          .col-xs-6
            a(href="").db Предыдущая статья
          .col-xs-6
            a(href="").db Следующяя статья
