build/index.html
<!DOCTYPE html>
<html lang="ru">

    <head>
        <title>Main page</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="http://fonts.googleapis.com/css?family=Roboto:100&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>
        <section class="top-section">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 adress">
                            <span class="icon-compass-1 text-orange fz16 dib"></span>
                            <span class="fz12">Москва, ул. Тверская, 7 | Краснодар, ул. Новокузнечная, 36 | Красноярск, ул. Диксона, 1</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="email pull-left">
                                <span class="icon-mail text-orange fz16"></span>
                                <span class="fz12">
                                    <a href="mailto: welcome@manalaw.ru"> welcome@manalaw.ru</a>
                                </span>
                            </div>
                            <div class="social pull-right">
                                <p class="mb0 fz12 pull-left">Поделиться:</p>
                                <ul class="lsn clearfix pull-right pl0 mb0">
                                    <li class="pull-left">
                                        <a onclick="Share.google('http://google.com')" class="cur no-underline fz15 db icon-gplus"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.twitter('http://google.com','TITLE')" class="cur no-underline fz15 db icon-twitter"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.vkontakte('http://google.com','TITLE','IMG_PATH','DESC')" class="cur no-underline fz15 db icon-vk"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.facebook('http://google.com','TITLE','IMG_PATH','DESC')" class="cur no-underline fz15 db icon-facebook"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.odnoklassniki('http://google.com','DESC')" class="cur no-underline fz15 db icon-odnoklassniki"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container text-white">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="logo db">
                                <a href="#">
                                    <img src="img/header_logo.png" class="pull-left">
                                </a>
                                <p class="title fz22 text-uppercase">Mana Corporate law</p>
                                <p class="description">Law firm</p>
                            </div>
                        </div>
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <div class="phone pull-right">
                                <span class="icon-mobile-1 text-orange fz36 dib"></span>
                                <span class="fz27">
                                    <a href="tel:+7 (988) 240-89-10">+7 (988) 240-89-10</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <header class="main pr">
            <div class="menu-block">
                <div class="menu pr table-center">
                    <ul class="lsn pl0 mb0 clearfix">
                        <li class="pull-left">
                            <a href="/">Главная</a>
                        </li>
                        <li class="pull-left">
                            <a href="/about.html">О компании</a>
                        </li>
                        <li class="pull-left">
                            <a href="/news.html">Новости и аналитика</a>
                        </li>
                        <li class="pull-left">
                            <a href="#">Услуги</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="center clearfix table-center">
                            <div class="left pull-left">
                                <h1 class="text-uppercase text-white fz39">Mana</h1>
                                <h3 class="text-center text-uppercase text-white fz18">Юридическая
                                    <br> фирма</h3>
                            </div>
                            <div class="white-line"></div>
                            <div class="right pull-left">
                                <h2 class="text-uppercase text-white fz43">Корпоративное
                                    <br> право</h2>
                            </div>
                        </div>
                        <div class="bottom text-white table-center">
                            <p class="text-center fz17 mb0">Стремление к лучшему
                                <span class="text-roboto">для клиента результату</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="big-white-border"></div>
                        <div class="block-slider">
                            <img src="http://lorempixel.com/561/250/" alt="">
                            <img src="http://lorempixel.com/561/251/" alt="">
                            <img src="http://lorempixel.com/561/252/" alt="">
                            <img src="http://lorempixel.com/561/253/" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <section class="slider-wrap clearfix pr">
                <div id="arrow-left-wrpap">
                    <div id="arrow-left"></div>
                </div>
                <div class="slider">
                    <div class="slide create">
                        <header>
                            <p class="mb0 text-center text-white">Создание и правовое
                                <br> сопровождения компаний (ООО, АО)</p>
                            <div class="overlay"></div>
                        </header>
                        <ul class="lsn mb0">
                            <li>Регистрация ООО, АО, юридических лиц иных форм</li>
                            <li>Реорганизация, ликвидация</li>
                            <li>Внесение изменений
                                <br> в устав (учредительные
                                <br> документы)</li>
                            <li>Юридическое сопровождение бизнеса</li>
                        </ul>
                    </div>
                    <div class="slide corporate">
                        <header>
                            <p class="mb0 text-center text-white">Корпоративное управление
                                <br> и раскрытие информации</p>
                            <div class="overlay"></div>
                        </header>
                        <ul class="lsn mb0">
                            <li>Организация системы корпоративного управления</li>
                            <li>Подготовка документов, регулирующих деятельность</li>
                            <li>Сопровождение корпоративных процедур</li>
                            <li>Раскрытие информации</li>
                        </ul>
                    </div>
                    <div class="slide support">
                        <header>
                            <p class="mb0 text-center text-white">Сопровождение
                                <br> сделок</p>
                            <div class="overlay"></div>
                        </header>
                        <ul class="lsn mb0">
                            <li>Купля-продажа доли, акций, продажа бизнеса, активов</li>
                            <li>Структурирование сделки, подготовка документов</li>
                            <li>Совместные предприятия, стратегические альянсы, инвестиционные проекты</li>
                            <li>Юридическая проверка (legal due diligence)</li>
                        </ul>
                    </div>
                    <div class="slide area">
                        <header>
                            <p class="mb0 text-center text-white">Региональное
                                <br> предствавительство</p>
                            <div class="overlay"></div>
                        </header>
                        <ul class="lsn mb0">
                            <li>Создание региональных представительств, филиалов</li>
                            <li>Ведение переговоров и разработка договоров</li>
                            <li>Проверка контрагентов</li>
                            <li>Юридическое сопровождение филиалов (представительств), дочерних обществ</li>
                        </ul>
                    </div>
                    <div class="slide questions">
                        <header>
                            <p class="mb0 text-center text-white">Юридические вопросы обращения
                                <br> ценных бумаг</p>
                            <div class="overlay"></div>
                        </header>
                        <ul class="lsn mb0">
                            <li>Сопровождение процедуры эмиссии ценных бумаг</li>
                            <li>Регистрация выпуска акций (иных эмиссионных ценных бумаг)</li>
                            <li>Предоставление отчета об итогах выпуска</li>
                            <li>Консультирование по вопросам размещения и обращения ценных бумаг</li>
                        </ul>
                    </div>
                </div>
                <div id="arrow-right-wrap">
                    <div id="arrow-right"></div>
                </div>
            </section>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="section-title">Новости и аналитика</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div class="section-line mb26"></div>
                </div>
            </div>
        </div>
        <section class="news">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="media">
                            <div class="media-left media-middle">
                                <img src="img/demo_news_img.jpg">
                            </div>
                            <div class="media-body">
                                <h3 class="title fz20 mt0">
                                    <a href="">Нажав на кнопку</a>
                                </h3>
                                <p class="text fz15">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <img src="img/demo_news_img.jpg">
                            </div>
                            <div class="media-body">
                                <h3 class="title fz20 mt0">
                                    <a href="">Нажав на кнопку</a>
                                </h3>
                                <p class="text fz15">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <img src="img/demo_news_img.jpg">
                            </div>
                            <div class="media-body">
                                <h3 class="title fz20 mt0">
                                    <a href="">Нажав на кнопку</a>
                                </h3>
                                <p class="text fz15">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="media">
                            <div class="media-left media-middle">
                                <img src="img/demo_news_img.jpg">
                            </div>
                            <div class="media-body">
                                <h3 class="title fz20 mt0">
                                    <a href="">Нажав на кнопку</a>
                                </h3>
                                <p class="text fz15">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <img src="img/demo_news_img.jpg">
                            </div>
                            <div class="media-body">
                                <h3 class="title fz20 mt0">
                                    <a href="">Нажав на кнопку</a>
                                </h3>
                                <p class="text fz15">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <img src="img/demo_news_img.jpg">
                            </div>
                            <div class="media-body">
                                <h3 class="title fz20 mt0">
                                    <a href="">Нажав на кнопку</a>
                                </h3>
                                <p class="text fz15">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="form">
            <h3 class="form-title table-center text-roboto fz57 text-white">Напишите свой
                <span class="text-tahoma fz60">вопрос</span>
            </h3>
            <form class="text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-info">
                                <h4 class="fz30 text-roboto">Адрес:</h4>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <div class="icon-compass-1 text-white fz35"></div>
                                    </div>
                                    <div class="media-body">
                                        <p class="fz20">г. Краснодар,</p>
                                        <p class="fz20">ул. Ставропольсткая</p>
                                        <p class="fz20">253, офис 10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-xs-offset-1">
                            <input type="text" placeholder="Введите имя">
                            <input type="text" placeholder="Введите телефон">
                            <input type="email" placeholder="Введите e-mail">
                            <textarea placeholder="Ваш вопрос"></textarea>
                            <button type="submit" class="text-uppercase">Отправить</button>
                        </div>
                        <div class="col-xs-3 col-xs-offset-1">
                            <div class="form-info">
                                <h4 class="fz30 text-roboto">Контакты:</h4>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <div class="icon-mobile-1 text-white fz36"></div>
                                    </div>
                                    <div class="media-body">
                                        <p class="fz23">
                                            <a href="tel:+7 (000) 000-00-00">+7 (000) 000-00-00</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <div class="icon-mail text-white fz36"></div>
                                    </div>
                                    <div class="media-body">
                                        <p class="fz20">
                                            <a href="mailto:advokat@mail.ru">advokat@mail.ru</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="title">
                            <h4 class="text-white text-center fz40">Услуги:</h4>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <ul class="clearfix lsn">
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Корпоративное управление и раскрытие информации</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Продажа доли ООО, акций, бизнеса</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Эмиссия ценных бумаг и регистрация акций</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Региональное представительство</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Создание и регистрация фирм: АО и ООО</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="copyright">
                            <p>© «Мана. Юридическая фирма» 2015. Все права защищены.</p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="footer-logo">
                            <span class="fz13">Интернет агентство -</span>
                            <a href="http://art6.ru">
                                <img src="img/art6_logo.png" class="dib">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5,underscorejs@1.8.3"></script>
        <script src="js/flux.min.js"></script>
        <script src="js/jquery.bxslider.min.js"></script>
        <script src="js/jquery.texttailor.min.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>

jade/index.jade
extends meta/_layout

block variables
  -var form = true
  -var top_menu = false
  -var teaser = false

block header
  header.main.pr
    .menu-block
      .menu.pr.table-center
        ul.lsn.pl0.mb0.clearfix
          li.pull-left: a(href='/') Главная
          li.pull-left: a(href='/about.html') О компании
          li.pull-left: a(href='/news.html') Новости и аналитика
          li.pull-left: a(href='#') Услуги

    .container
      .row
        .col-xs-6
          .center.clearfix.table-center
            .left.pull-left
              h1.text-uppercase.text-white.fz39 Mana
              h3.text-center.text-uppercase.text-white.fz18 Юридическая<br> фирма
            .white-line
            .right.pull-left
              h2.text-uppercase.text-white.fz43 Корпоративное<br> право
          .bottom.text-white.table-center
            p.text-center.fz17.mb0
              |Стремление к лучшему
              span.text-roboto для клиента результату
        .col-xs-6
          .big-white-border
          .block-slider
            -for(var i = 0; i < 4; i++)
              img(src="http://lorempixel.com/561/25#{i}/" alt="")

block slider
  .container
    section.slider-wrap.clearfix.pr
      #arrow-left-wrpap
        #arrow-left
      .slider
        .slide.create
          header
            p.mb0.text-center.text-white Создание и правовое <br> сопровождения компаний (ООО, АО)
            .overlay
          ul.lsn.mb0
            li Регистрация ООО, АО, юридических лиц иных форм
            li Реорганизация, ликвидация
            li Внесение изменений<br> в устав (учредительные<br> документы)
            li Юридическое сопровождение бизнеса
        .slide.corporate
          header
            p.mb0.text-center.text-white Корпоративное управление <br> и раскрытие информации
            .overlay
          ul.lsn.mb0
            li Организация системы корпоративного управления
            li Подготовка документов, регулирующих деятельность
            li Сопровождение корпоративных процедур
            li Раскрытие информации
        .slide.support
          header
            p.mb0.text-center.text-white Сопровождение <br> сделок
            .overlay
          ul.lsn.mb0
            li Купля-продажа доли, акций, продажа бизнеса, активов
            li Структурирование сделки, подготовка документов
            li Совместные предприятия, стратегические альянсы, инвестиционные проекты
            li Юридическая проверка (legal due diligence)
        .slide.area
          header
            p.mb0.text-center.text-white Региональное <br> предствавительство
            .overlay
          ul.lsn.mb0
            li Создание региональных представительств, филиалов
            li Ведение переговоров и разработка договоров
            li Проверка контрагентов
            li Юридическое сопровождение филиалов (представительств), дочерних обществ
        .slide.questions
          header
            p.mb0.text-center.text-white Юридические вопросы обращения <br> ценных бумаг
            .overlay
          ul.lsn.mb0
            li Сопровождение процедуры эмиссии ценных бумаг
            li Регистрация выпуска акций (иных эмиссионных ценных бумаг)
            li Предоставление отчета об итогах выпуска
            li Консультирование по вопросам размещения и обращения ценных бумаг
      #arrow-right-wrap
        #arrow-right

block news
  .container
    .row
      .col-xs-12
        h3.section-title Новости и аналитика

  .container
    .row
      .col-xs-4
        .section-line.mb26

  section.news
    .container
      .row
        .col-xs-6
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
        .col-xs-6
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
