jade/news.jade
extends meta/_layout

block title
  title News page

block variables
  -var top_menu = true
  -var form = false
  -var teaser = true
  
block content
  section.about
    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title Новости и аналитика

    .container
      .row
        .col-xs-4
          .section-line.mb26

    .container
      .row
        .col-xs-12
          p.text Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
    
    .news-wrap
      -for(var i = 0; i < 4; i++)
        .news.container
          .row
            .col-xs-12
              .bordered-block
                .row
                  .col-xs-2
                    .news-img
                  .col-xs-10
                    .news-title.text-tailor
                      a(href="").title
                        h3.mt0.fz20 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом
                    span.db.news-time 10.05.2015
                    .media
                      .media-body
                        .news-text.text-tailor
                          p.mb0 Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».
                      .media-right.media-middle
                        a(href="").button.news-button Подробнее
                        
    nav.table-center
      ul.pagination.pagination-orange
        li.disabled
          a(href="#" aria-label="Previous")
            span(aria-hidden="true") &laquo
        li.active: a(href="#") 1
        -for(var i = 0; i < 2; i++)
          li: a(href="#") #{i + 2}
        
        li
          a(href="#" aria-label="Previous")
            span(aria-hidden="true") &raquo

build/news.html
<!DOCTYPE html>
<html lang="ru">

    <head>
        <title>News page</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="http://fonts.googleapis.com/css?family=Roboto:100&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>
        <div class="teaser"></div>
        <section class="top-section">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 adress">
                            <span class="icon-compass-1 text-orange fz16 dib"></span>
                            <span class="fz12">Москва, ул. Тверская, 7 | Краснодар, ул. Новокузнечная, 36 | Красноярск, ул. Диксона, 1</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="email pull-left">
                                <span class="icon-mail text-orange fz16"></span>
                                <span class="fz12">
                                    <a href="mailto: welcome@manalaw.ru"> welcome@manalaw.ru</a>
                                </span>
                            </div>
                            <div class="social pull-right">
                                <p class="mb0 fz12 pull-left">Поделиться:</p>
                                <ul class="lsn clearfix pull-right pl0 mb0">
                                    <li class="pull-left">
                                        <a onclick="Share.google('http://google.com')" class="cur no-underline fz15 db icon-gplus"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.twitter('http://google.com','TITLE')" class="cur no-underline fz15 db icon-twitter"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.vkontakte('http://google.com','TITLE','IMG_PATH','DESC')" class="cur no-underline fz15 db icon-vk"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.facebook('http://google.com','TITLE','IMG_PATH','DESC')" class="cur no-underline fz15 db icon-facebook"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.odnoklassniki('http://google.com','DESC')" class="cur no-underline fz15 db icon-odnoklassniki"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container text-white">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="logo db">
                                <a href="#">
                                    <img src="img/header_logo.png" class="pull-left">
                                </a>
                                <p class="title fz22 text-uppercase">Mana Corporate law</p>
                                <p class="description">Law firm</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="menu">
                                <ul class="lsn clearfix pl0 mb0">
                                    <li class="pull-left active">
                                        <a href="/" class="db no-underline">Главная</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="/about.html" class="db no-underline">О компании</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="/news.html" class="db no-underline">Новости и аналитика</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="#" class="db no-underline">Услуги</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="phone pull-right">
                                <span class="icon-mobile-1 text-orange fz36 dib"></span>
                                <span class="fz27">
                                    <a href="tel:+7 (988) 240-89-10">+7 (988) 240-89-10</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="section-head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="section-title">Новости и аналитика</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="section-line mb26"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                            <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.Нажав на кнопку «Написать реферат», вы лично создаете
                            уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                            <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.Нажав на кнопку «Написать реферат», вы лично создаете
                            уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                            <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</p>
                    </div>
                </div>
            </div>
            <div class="news-wrap">
                <div class="news container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bordered-block">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="news-img"></div>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="news-title text-tailor">
                                            <a href="" class="title">
                                                <h3 class="mt0 fz20">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный
                                                    текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится
                                                    — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом</h3>
                                            </a>
                                        </div>
                                        <span class="db news-time">10.05.2015</span>
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="news-text text-tailor">
                                                    <p class="mb0">Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов
                                                        и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом
                                                        строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих
                                                        в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики
                                                        разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».</p>
                                                </div>
                                            </div>
                                            <div class="media-right media-middle">
                                                <a href="" class="button news-button">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bordered-block">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="news-img"></div>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="news-title text-tailor">
                                            <a href="" class="title">
                                                <h3 class="mt0 fz20">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный
                                                    текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится
                                                    — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом</h3>
                                            </a>
                                        </div>
                                        <span class="db news-time">10.05.2015</span>
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="news-text text-tailor">
                                                    <p class="mb0">Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов
                                                        и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом
                                                        строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих
                                                        в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики
                                                        разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».</p>
                                                </div>
                                            </div>
                                            <div class="media-right media-middle">
                                                <a href="" class="button news-button">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bordered-block">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="news-img"></div>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="news-title text-tailor">
                                            <a href="" class="title">
                                                <h3 class="mt0 fz20">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный
                                                    текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится
                                                    — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом</h3>
                                            </a>
                                        </div>
                                        <span class="db news-time">10.05.2015</span>
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="news-text text-tailor">
                                                    <p class="mb0">Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов
                                                        и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом
                                                        строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих
                                                        в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики
                                                        разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».</p>
                                                </div>
                                            </div>
                                            <div class="media-right media-middle">
                                                <a href="" class="button news-button">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bordered-block">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="news-img"></div>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="news-title text-tailor">
                                            <a href="" class="title">
                                                <h3 class="mt0 fz20">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный
                                                    текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится
                                                    — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом</h3>
                                            </a>
                                        </div>
                                        <span class="db news-time">10.05.2015</span>
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="news-text text-tailor">
                                                    <p class="mb0">Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов
                                                        и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом
                                                        строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих
                                                        в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики
                                                        разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».</p>
                                                </div>
                                            </div>
                                            <div class="media-right media-middle">
                                                <a href="" class="button news-button">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="table-center">
                <ul class="pagination pagination-orange">
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&raquo</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="title">
                            <h4 class="text-white text-center fz40">Услуги:</h4>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <ul class="clearfix lsn">
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Корпоративное управление и раскрытие информации</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Продажа доли ООО, акций, бизнеса</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Эмиссия ценных бумаг и регистрация акций</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Региональное представительство</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Создание и регистрация фирм: АО и ООО</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="copyright">
                            <p>© «Мана. Юридическая фирма» 2015. Все права защищены.</p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="footer-logo">
                            <span class="fz13">Интернет агентство -</span>
                            <a href="http://art6.ru">
                                <img src="img/art6_logo.png" class="dib">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5,underscorejs@1.8.3"></script>
        <script src="js/flux.min.js"></script>
        <script src="js/jquery.bxslider.min.js"></script>
        <script src="js/jquery.texttailor.min.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>
