jade/online.jade
extends meta/_layout

block title
  title Service page

block variables
  -var top_menu = true
  -var form = false
  -var teaser = true
  
block content
  section.services
    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title Сервис по регистрации юридического лица

    .container
      .row
        .col-xs-10
          .section-line.mb26

    .big-ico-block
      .container
        .row
          .col-xs-4
            .icon.text-orange.text-center.icon-mail-1
            p.text.text-center 
              span 1.
              |Заполняете форму <br> (заявку)
          .col-xs-4
            .icon.text-orange.text-center.icon-folder-open
            p.text.text-center 
              span 2.
              |Готовим необходимые <br> документы
          .col-xs-4
            .icon.text-orange.text-center.icon-edit
            p.text.text-center 
              span 3.
              |Подписываем договор, <br> оплата услуг и пошлин
    
      .container
        .row
          .col-xs-4
            .icon.text-orange.text-center.icon-archive
            p.text.text-center 
              span 4.
              |Подаем документы <br> на регистрацию
          .col-xs-4
            .icon.text-orange.text-center.icon-export
            p.text.text-center 
              span 5.
              |Получаем документы <br> и передаем вам
          .col-xs-4
            .icon.text-orange.text-center.icon-users
            p.text.text-center 
              span 6.
              |Юридическое <br> сопровождение
    
    .container
      .row
        .col-xs-12
          p.fz16: b Вам необязательно заполнять все пункты заявки.
          p.fz16 Всю необходимую для создания информацию мы вместе обсудим дополнительно.
          p.fz16: b Вместо заполнения заявки на сайте Вы можете направить нам по электронной почте специальную анкету.
          
          a(href='#').fz16.db.orange-link Скачать анкету для создания (регистрации) общества с ограниченной ответственностью (ООО)
          a(href='#').fz16.db.orange-link.mb5 Скачать анкету для создания (регистрации) акционерного общества (АО)
          
          p.fz16: b Стоимость услуг и расходы:
          ul.lsn.pl0
            li регистрация ООО – от 30 000 рублей;
            li регистрации АО* – от 50 000 рублей;
          p расходы – государственная пошлина – 4 000 рублей; услуги нотариуса (удостоверение подписи на заявлении и доверенности) – до 5 000 рублей. <br>
            |* В течение 30 дней после регистрации АО также необходимо зарегистрировать выпуск акций в ЦБ РФ. 
            a(href="#").orange-link Подробнее о регистрации выпуска акций.
          
          form.form-inline.orange-form
            h3 Ваши контактные данные
            .row
              .col-xs-4
                .form-group
                  label(for="exampleInputName2").mr15 1. Имя
                  input(type="text" class="form-control" id="exampleInputName2" placeholder="")
              .col-xs-4
                .form-group
                  label(for="exampleInputName2").mr15 2. Телефон
                  input(type="text" class="form-control" id="exampleInputName2" placeholder="")
              .col-xs-4
                .form-group
                  label(for="exampleInputName2").mr15 3. E-mail
                  input(type="email" class="form-control" id="exampleInputName2" placeholder="")
            
            .form-group
              .row
                .col-xs-5
                  label(for="exampleInputName2") 4. Организационно-правовая форма (ООО / АО / иная)
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-5
                  label(for="exampleInputName2").mt0 5. Наименование (полное; сокращенное; на английском языке – не обязательно)
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-5
                  label(for="exampleInputName2") 6. Место нахождения (адрес)
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-5
                  label(for="exampleInputName2") 7. Виды деятельности*
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-12
                  p * Опишите своими словами или выберите из классификатора 
                    a(href="#").orange-link (скачать ОКВЭД). <br>
                    |Указываемые в заявлениях коды должны содержать не менее 4-х цифровых знаков кода вида деятельности по ОКВЭД
              .row
                .col-xs-5
                  label(for="exampleInputName2") 8. Учредители* и размеры долей / количество акций
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-12
                  p *	Для физических лиц – ФИО, дата и место рождения, ИНН, место жительства, паспортные данные (номер, дата выдачи, кем выдан, код подразделения), телефон, e-mail. <br> Для юридических лиц – ИНН / ОГРН, место нахождения, телефон, e-mail, данные представителя (ФИО, должность, дата и место рождения, ИНН, паспортные данные)
              .row
                .col-xs-5
                  label(for="exampleInputName2") 9. Уставный капитал: размер и порядок оплаты*
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-12
                  p * <b>ООО</b>. Минимальный размер 10 000 рублей. С 5 мая 2014 года исключена обязанность учредителей ООО по оплате половины уставного капитала на момент регистрации ООО. Учредитель оплачивает свою долю в уставном капитале в определенный договором об учреждении (решением единственного учредителя) срок, но не позднее четырех месяцев с момента регистрации. <br><b>АО</b>. Для непубличного АО – минимальный размер 10 000 рублей. Для публичного АО –100 000 рублей. Уставный капитал должен быть оплачен в течение 1 года, при этом 50% должно вноситься в течение 3х месяцев после государственной регистрации. <br><b>ООО и АО</b>. Минимальный размер уставного капитала компании должен быть оплачен только денежными средствами. Денежная оценка неденежного вклада должна быть проведена независимым оценщиком.
              .row
                .col-xs-5
                  label(for="exampleInputName2") 10. Единоличный исполнительный орган (генеральный директор / директор)*, срок полномочий
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-12
                  p * ФИО, должность, дата и место рождения, ИНН, место жительства, паспортные данные (номер, дата выдачи, кем выдан, код подразделения), телефон, e-mail
              .row
                .col-xs-5
                  label(for="exampleInputName2").mt0 11. Структура органов управления (общее собрание, совет директоров, правление), компетенция
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-5
                  label(for="exampleInputName2") 12. Система налогообложения (общая / УСН)
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
                  
              .row
                .col-xs-12
                  h3 Пакет документов для регистрации включает:
                  ul.lsn.pl0
                    li 1. Заявление по установленной форме;
                    li 2. Решение о создании, оформленное решением единственного учредителя или протоколом общего собрания учредителей;
                    li 3. Устав (представляется в двух подлинных экземплярах);
                    li 4. Квитанция об уплате государственной пошлины в размере 4000 рублей.
              
              .row
                .col-xs-12
                  input(type="checkbox").checkbox#checkbox
                  label(for="checkbox").cur Настоящим я даю согласие на обработку указанных мной персональных данных для целей оказания юридической помощи (подготовка документов, представление и защита интересов) до даты отзыва согласия.
              .row
               .col-xs-12
                button(type="submit") Отправить данные для регистрации юридического лица

build/online.html
<!DOCTYPE html>
<html lang="ru">

    <head>
        <title>Service page</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="http://fonts.googleapis.com/css?family=Roboto:100&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>
        <div class="teaser"></div>
        <section class="top-section">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 adress">
                            <span class="icon-compass-1 text-orange fz16 dib"></span>
                            <span class="fz12">Москва, ул. Тверская, 7 | Краснодар, ул. Новокузнечная, 36 | Красноярск, ул. Диксона, 1</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="email pull-left">
                                <span class="icon-mail text-orange fz16"></span>
                                <span class="fz12">
                                    <a href="mailto: welcome@manalaw.ru"> welcome@manalaw.ru</a>
                                </span>
                            </div>
                            <div class="social pull-right">
                                <p class="mb0 fz12 pull-left">Поделиться:</p>
                                <ul class="lsn clearfix pull-right pl0 mb0">
                                    <li class="pull-left">
                                        <a onclick="Share.google('http://google.com')" class="cur no-underline fz15 db icon-gplus"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.twitter('http://google.com','TITLE')" class="cur no-underline fz15 db icon-twitter"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.vkontakte('http://google.com','TITLE','IMG_PATH','DESC')" class="cur no-underline fz15 db icon-vk"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.facebook('http://google.com','TITLE','IMG_PATH','DESC')" class="cur no-underline fz15 db icon-facebook"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.odnoklassniki('http://google.com','DESC')" class="cur no-underline fz15 db icon-odnoklassniki"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container text-white">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="logo db">
                                <a href="#">
                                    <img src="img/header_logo.png" class="pull-left">
                                </a>
                                <p class="title fz22 text-uppercase">Mana Corporate law</p>
                                <p class="description">Law firm</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="menu">
                                <ul class="lsn clearfix pl0 mb0">
                                    <li class="pull-left active">
                                        <a href="/" class="db no-underline">Главная</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="/about.html" class="db no-underline">О компании</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="/news.html" class="db no-underline">Новости и аналитика</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="#" class="db no-underline">Услуги</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="phone pull-right">
                                <span class="icon-mobile-1 text-orange fz36 dib"></span>
                                <span class="fz27">
                                    <a href="tel:+7 (988) 240-89-10">+7 (988) 240-89-10</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="section-head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="section-title">Сервис по регистрации юридического лица</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="section-line mb26"></div>
                    </div>
                </div>
            </div>
            <div class="big-ico-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="icon text-orange text-center icon-mail-1"></div>
                            <p class="text text-center">
                                <span>1.</span>Заполняете форму
                                <br> (заявку)</p>
                        </div>
                        <div class="col-xs-4">
                            <div class="icon text-orange text-center icon-folder-open"></div>
                            <p class="text text-center">
                                <span>2.</span>Готовим необходимые
                                <br> документы</p>
                        </div>
                        <div class="col-xs-4">
                            <div class="icon text-orange text-center icon-edit"></div>
                            <p class="text text-center">
                                <span>3.</span>Подписываем договор,
                                <br> оплата услуг и пошлин</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="icon text-orange text-center icon-archive"></div>
                            <p class="text text-center">
                                <span>4.</span>Подаем документы
                                <br> на регистрацию</p>
                        </div>
                        <div class="col-xs-4">
                            <div class="icon text-orange text-center icon-export"></div>
                            <p class="text text-center">
                                <span>5.</span>Получаем документы
                                <br> и передаем вам</p>
                        </div>
                        <div class="col-xs-4">
                            <div class="icon text-orange text-center icon-users"></div>
                            <p class="text text-center">
                                <span>6.</span>Юридическое
                                <br> сопровождение</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="fz16">
                            <b>Вам необязательно заполнять все пункты заявки.</b>
                        </p>
                        <p class="fz16">Всю необходимую для создания информацию мы вместе обсудим дополнительно.</p>
                        <p class="fz16">
                            <b>Вместо заполнения заявки на сайте Вы можете направить нам по электронной почте специальную анкету.</b>
                        </p>
                        <a href="#" class="fz16 db orange-link">Скачать анкету для создания (регистрации) общества с ограниченной ответственностью (ООО)</a>
                        <a href="#" class="fz16 db orange-link mb5">Скачать анкету для создания (регистрации) акционерного общества (АО)</a>
                        <p class="fz16">
                            <b>Стоимость услуг и расходы:</b>
                        </p>
                        <ul class="lsn pl0">
                            <li>регистрация ООО – от 30 000 рублей;</li>
                            <li>регистрации АО* – от 50 000 рублей;</li>
                        </ul>
                        <p>расходы – государственная пошлина – 4 000 рублей; услуги нотариуса (удостоверение подписи на заявлении и доверенности) – до 5 000 рублей.
                            <br> * В течение 30 дней после регистрации АО также необходимо зарегистрировать выпуск акций в ЦБ РФ.
                            <a href="#" class="orange-link">Подробнее о регистрации выпуска акций.</a>
                        </p>
                        <form class="form-inline orange-form">
                            <h3>Ваши контактные данные</h3>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputName2" class="mr15">1. Имя</label>
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputName2" class="mr15">2. Телефон</label>
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputName2" class="mr15">3. E-mail</label>
                                        <input type="email" id="exampleInputName2" placeholder="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label for="exampleInputName2">4. Организационно-правовая форма (ООО / АО / иная)</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control w100p">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label for="exampleInputName2" class="mt0">5. Наименование (полное; сокращенное; на английском языке – не обязательно)</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control w100p">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label for="exampleInputName2">6. Место нахождения (адрес)</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control w100p">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label for="exampleInputName2">7. Виды деятельности*</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control w100p">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>* Опишите своими словами или выберите из классификатора
                                            <a href="#" class="orange-link">(скачать ОКВЭД).
                                                <br>
                                            </a>Указываемые в заявлениях коды должны содержать не менее 4-х цифровых знаков кода вида деятельности по ОКВЭД</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label for="exampleInputName2">8. Учредители* и размеры долей / количество акций</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control w100p">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>* Для физических лиц – ФИО, дата и место рождения, ИНН, место жительства, паспортные данные (номер, дата выдачи, кем выдан, код подразделения), телефон, e-mail.
                                            <br> Для юридических лиц – ИНН / ОГРН, место нахождения, телефон, e-mail, данные представителя (ФИО, должность, дата и место рождения, ИНН, паспортные данные)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label for="exampleInputName2">9. Уставный капитал: размер и порядок оплаты*</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control w100p">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>*
                                            <b>ООО</b>. Минимальный размер 10 000 рублей. С 5 мая 2014 года исключена обязанность учредителей ООО по оплате половины уставного капитала на момент регистрации ООО. Учредитель оплачивает свою долю в уставном
                                            капитале в определенный договором об учреждении (решением единственного учредителя) срок, но не позднее четырех месяцев с момента регистрации.
                                            <br>
                                            <b>АО</b>. Для непубличного АО – минимальный размер 10 000 рублей. Для публичного АО –100 000 рублей. Уставный капитал должен быть оплачен в течение 1 года, при этом 50% должно вноситься в течение 3х месяцев после
                                            государственной регистрации.
                                            <br>
                                            <b>ООО и АО</b>. Минимальный размер уставного капитала компании должен быть оплачен только денежными средствами. Денежная оценка неденежного вклада должна быть проведена независимым оценщиком.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label for="exampleInputName2">10. Единоличный исполнительный орган (генеральный директор / директор)*, срок полномочий</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control w100p">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>* ФИО, должность, дата и место рождения, ИНН, место жительства, паспортные данные (номер, дата выдачи, кем выдан, код подразделения), телефон, e-mail</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label for="exampleInputName2" class="mt0">11. Структура органов управления (общее собрание, совет директоров, правление), компетенция</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control w100p">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label for="exampleInputName2">12. Система налогообложения (общая / УСН)</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="text" id="exampleInputName2" placeholder="" class="form-control w100p">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>Пакет документов для регистрации включает:</h3>
                                        <ul class="lsn pl0">
                                            <li>1. Заявление по установленной форме;</li>
                                            <li>2. Решение о создании, оформленное решением единственного учредителя или протоколом общего собрания учредителей;</li>
                                            <li>3. Устав (представляется в двух подлинных экземплярах);</li>
                                            <li>4. Квитанция об уплате государственной пошлины в размере 4000 рублей.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="checkbox" id="checkbox" class="checkbox">
                                        <label for="checkbox" class="cur">Настоящим я даю согласие на обработку указанных мной персональных данных для целей оказания юридической помощи (подготовка документов, представление и защита интересов) до даты отзыва согласия.</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="submit">Отправить данные для регистрации юридического лица</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="title">
                            <h4 class="text-white text-center fz40">Услуги:</h4>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <ul class="clearfix lsn">
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Корпоративное управление и раскрытие информации</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Продажа доли ООО, акций, бизнеса</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Эмиссия ценных бумаг и регистрация акций</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Региональное представительство</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Создание и регистрация фирм: АО и ООО</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="copyright">
                            <p>© «Мана. Юридическая фирма» 2015. Все права защищены.</p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="footer-logo">
                            <span class="fz13">Интернет агентство -</span>
                            <a href="http://art6.ru">
                                <img src="img/art6_logo.png" class="dib">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5,underscorejs@1.8.3"></script>
        <script src="js/flux.min.js"></script>
        <script src="js/jquery.bxslider.min.js"></script>
        <script src="js/jquery.texttailor.min.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>
