jade/service_info.jade
extends meta/_layout

block title
  title Service info page

block variables
  -var top_menu = true
  -var form = true
  -var teaser = true

block content
  section.services
    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title Корпоративное управление и раскрытие информации

    .container
      .row
        .col-xs-10
          .section-line.mb26

    .container
      .row
        .col-xs-12
          em Надежность и оперативность

    .container
      .row
        .col-xs-12
          .big-list
            ul.lsn
              li
                span.list-number 1.
                |Организация и анализ системы корпоративного управления, проверка соответствия законодательным требованиям; выявление рисков и выработка рекомендаций по минимизации выявленных рисков;
              li
                span.list-number 2.
                |Подготовка документов, регулирующих деятельность органов компании;
              li
                span.list-number 3.
                |Подготовка, созыв, проведение общих собраний акционеров (участников), заседаний совета директоров; представление интересов на общих собраниях акционеров (участников);
              li
                span.list-number 4.
                |Обязательное раскрытие информации;
              li
                span.list-number 5.
                |Осуществление функций корпоративного секретаря либо оказание корпоративному секретарю юридической поддержки;
              li
                span.list-number 6.
                |Медиация (посредничество) при урегулировании корпоративных конфликтов и разделении бизнеса;
              li
                span.list-number 7.
                |Представление интересов в отношениях с другими участниками (акционерами); подготовка корпоративных договоров, акционерных соглашений.

    .container
      .row
        .col-xs-12
          .orange-block
            h3.text-uppercase Корпоративное управление
            p Корпоративное управление – система взаимоотношений между менеджментом компании, его советом директоров, акционерами (участниками) и другими заинтересованными сторонами. Корпоративное управление является инструментом для определения целей компании и средств достижения этих целей, а также обеспечения эффективного контроля за деятельностью компании со стороны акционеров (участников) и других заинтересованных сторон.
            p Система корпоративного управления в компании влияет не только на текущие доходы компании, но и на будущее бизнеса в самом широком смысле. Достаточный уровень информационной прозрачности, ясности в процессе принятия корпоративных решений, возможность участия в принятии решений дает дополнительные гарантии и имеет существенное значение для инвесторов.
            p Система корпоративного управления призвана создать систему сдержек и противовесов, учитывающую интересы различных сторон. Недостаточный уровень корпоративного управления провоцирует возникновение различных конфликтных ситуаций во взаимоотношениях владельцев бизнеса между собой, с менеджментом и иными заинтересованными лицами.

    .container
      .row
        .col-xs-12
          .text-collapse
            .cur.no-select.collapse-title(data-target='#collapse-one' data-toggle='collapse')
              h3.mt0.mb0.text-uppercase Вопросы корпоративного управления
                span.more (подробнее)
            .collapse-body#collapse-one.collapse
              p В связи с вступлением с 01.09.2014 в силу Федерального закона от 05.05.2014 № 99-ФЗ "О внесении изменений в главу 4 части первой Гражданского кодекса Российской Федерации и о признании утратившими силу отдельных положений законодательных актов Российской Федерации" (далее – Закон № 99-ФЗ) Банк России сообщает следующее.
              p 1. Закон № 99-ФЗ исключает из Гражданского кодекса Российской Федерации понятие типов акционерных обществ (открытые и закрытые) и вводит понятие публичных и непубличных акционерных обществ. Вместе с тем, до приведения устава в соответствие с ГК РФ в редакции Закона № 99-ФЗ, открытые и закрытые акционерные общества сохраняют свое наименование и к ним применяются положения законодательства Российской Федерации в части, не противоречащей ГК РФ в редакции Закона.
              p 2. Положения об открытых акционерных обществах применяются к публичным акционерным обществам в части, не противоречащей ГК РФ в редакции Закона № 99-ФЗ (пункт 1.1 статьи 1 Федерального закона от 26.12.1995 № 208-ФЗ "Об акционерных обществах" в редакции Федерального закона от 21.07.2014 № 218-ФЗ "О внесении изменений в отдельные законодательные акты Российской Федерации").
              p Открытые и закрытые акционерные общества, осуществлявшие до 01.09.2014 раскрытие информации в соответствии со статьей 92 Закона об акционерных обществах продолжают осуществлять указанное обязательное раскрытие информации.
              p Публичное акционерное общество после 01.09.2014 обязано раскрывать информацию в соответствии со статьей 92 Закона об акционерных обществах. Требования к составу информации, подлежащей обязательному раскрытию акционерными обществами, которые привели устав в соответствие с ГК РФ в редакции Закона № 99-ФЗ и не являющимися публичными, а также к порядку и срокам раскрытия такой информации будут установлены законодательством Российской Федерации при его приведении в соответствие с Законом № 99-ФЗ.
              p У публичных акционерных обществ, а также у акционерных обществ, не являющихся публичными (открытых и закрытых акционерных обществ до приведения их уставов в соответствие с ГК РФ в редакции Закона № 99-ФЗ), которые обязаны раскрывать информацию в соответствии со статьей 30 Федерального закона от 22.04.1996 № 39-ФЗ "О рынке ценных бумаг", соответствующая обязанность с 01.09.2014 не прекращается. При этом сам по себе статус публичного акционерного общества не является основанием для возникновения обязанности по раскрытию информации в соответствии со статьей 30 Закона о рынке ценных бумаг  .
              p После 01.09.2014 как публичное акционерное общество, так и акционерное общество, не являющееся публичным, у которых в соответствии с пунктом 4 статьи 30 Закона о рынке ценных бумаг есть обязанность по раскрытию информации, вправе обратиться с заявлением об освобождении от указанной обязанности в случае, если они соответствуют требованиям, установленным статьей 30.1 Закона о рынке ценных бумаг.

    .container
      .row
        .col-xs-12
          .orange-block
            h3.text-uppercase Раскрытия информации
            ol
              li Сопровождение раскрытия информации и подготовка необходимых документов;
              li Раскрытие информации о выпуске (дополнительном выпуске) ценных бумаг; раскрытие в форме ежеквартального отчета, сообщений о существенных фактах; подготовка сведений об аффилированных лицах;
              li Взаимодействие с уполномоченными информационными агентствами;
              li Консультирование по вопросам порядка раскрытия информации;
              li Разработка внутреннего регламента о раскрытии информации.
            p Корпоративное управление – система взаимоотношений между менеджментом компании, его советом директоров, акционерами (участниками) и другими заинтересованными сторонами. Корпоративное управление является инструментом для определения целей компании и средств достижения этих целей, а также обеспечения эффективного контроля за деятельностью компании со стороны акционеров (участников) и других заинтересованных сторон.
            p Система корпоративного управления в компании влияет не только на текущие доходы компании, но и на будущее бизнеса в самом широком смысле. Достаточный уровень информационной прозрачности, ясности в процессе принятия корпоративных решений, возможность участия в принятии решений дает дополнительные гарантии и имеет существенное значение для инвесторов.
            p Система корпоративного управления призвана создать систему сдержек и противовесов, учитывающую интересы различных сторон. Недостаточный уровень корпоративного управления провоцирует возникновение различных конфликтных ситуаций во взаимоотношениях владельцев бизнеса между собой, с менеджментом и иными заинтересованными лицами.

    .container
      .row
        .col-xs-12
          .text-collapse
            .cur.no-select.collapse-title(data-target='#collapse-two' data-toggle='collapse')
              h3.mt0.mb0.text-uppercase Разъяснение по вопросу раскрытия информации в связи с исключение деления акционерных обществ на открытые и закрытые
                span.more (подробнее)
            .collapse-body#collapse-two.collapse
              p В связи с вступлением с 01.09.2014 в силу Федерального закона от 05.05.2014 № 99-ФЗ "О внесении изменений в главу 4 части первой Гражданского кодекса Российской Федерации и о признании утратившими силу отдельных положений законодательных актов Российской Федерации" (далее – Закон № 99-ФЗ) Банк России сообщает следующее.
              p 1. Закон № 99-ФЗ исключает из Гражданского кодекса Российской Федерации понятие типов акционерных обществ (открытые и закрытые) и вводит понятие публичных и непубличных акционерных обществ. Вместе с тем, до приведения устава в соответствие с ГК РФ в редакции Закона № 99-ФЗ, открытые и закрытые акционерные общества сохраняют свое наименование и к ним применяются положения законодательства Российской Федерации в части, не противоречащей ГК РФ в редакции Закона.
              p 2. Положения об открытых акционерных обществах применяются к публичным акционерным обществам в части, не противоречащей ГК РФ в редакции Закона № 99-ФЗ (пункт 1.1 статьи 1 Федерального закона от 26.12.1995 № 208-ФЗ "Об акционерных обществах" в редакции Федерального закона от 21.07.2014 № 218-ФЗ "О внесении изменений в отдельные законодательные акты Российской Федерации").
              p Открытые и закрытые акционерные общества, осуществлявшие до 01.09.2014 раскрытие информации в соответствии со статьей 92 Закона об акционерных обществах продолжают осуществлять указанное обязательное раскрытие информации.
              p Публичное акционерное общество после 01.09.2014 обязано раскрывать информацию в соответствии со статьей 92 Закона об акционерных обществах. Требования к составу информации, подлежащей обязательному раскрытию акционерными обществами, которые привели устав в соответствие с ГК РФ в редакции Закона № 99-ФЗ и не являющимися публичными, а также к порядку и срокам раскрытия такой информации будут установлены законодательством Российской Федерации при его приведении в соответствие с Законом № 99-ФЗ.
              p У публичных акционерных обществ, а также у акционерных обществ, не являющихся публичными (открытых и закрытых акционерных обществ до приведения их уставов в соответствие с ГК РФ в редакции Закона № 99-ФЗ), которые обязаны раскрывать информацию в соответствии со статьей 30 Федерального закона от 22.04.1996 № 39-ФЗ "О рынке ценных бумаг", соответствующая обязанность с 01.09.2014 не прекращается. При этом сам по себе статус публичного акционерного общества не является основанием для возникновения обязанности по раскрытию информации в соответствии со статьей 30 Закона о рынке ценных бумаг  .
              p После 01.09.2014 как публичное акционерное общество, так и акционерное общество, не являющееся публичным, у которых в соответствии с пунктом 4 статьи 30 Закона о рынке ценных бумаг есть обязанность по раскрытию информации, вправе обратиться с заявлением об освобождении от указанной обязанности в случае, если они соответствуют требованиям, установленным статьей 30.1 Закона о рынке ценных бумаг.

    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title Корпоративное управление и раскрытие информации

    .container
      .row
        .col-xs-10
          .section-line.mb26

    .container
      .row
        .col-xs-12
          .big-links
            ul.pl0.lsn
              li: a(href='#').db.text-roboto Раскрытие информации: обязанность и порядок
              li: a(href='#').db.text-roboto Общее собрание участников и общее собрание акционеров: созыв и порядок проведения
              li: a(href='#').db.text-roboto Методика самооценки качества корпоративного управления

build/service_info.html
<!DOCTYPE html>
<html lang="ru">

    <head>
        <title>Service info page</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="http://fonts.googleapis.com/css?family=Roboto:100&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>
        <div class="teaser"></div>
        <section class="top-section">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 adress">
                            <span class="icon-compass-1 text-orange fz16 dib"></span>
                            <span class="fz12">Москва, ул. Тверская, 7 | Краснодар, ул. Новокузнечная, 36 | Красноярск, ул. Диксона, 1</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="email pull-left">
                                <span class="icon-mail text-orange fz16"></span>
                                <span class="fz12">
                                    <a href="mailto: welcome@manalaw.ru"> welcome@manalaw.ru</a>
                                </span>
                            </div>
                            <div class="social pull-right">
                                <p class="mb0 fz12 pull-left">Поделиться:</p>
                                <ul class="lsn clearfix pull-right pl0 mb0">
                                    <li class="pull-left">
                                        <a onclick="Share.google('http://google.com')" class="cur no-underline fz15 db icon-gplus"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.twitter('http://google.com','TITLE')" class="cur no-underline fz15 db icon-twitter"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.vkontakte('http://google.com','TITLE','IMG_PATH','DESC')" class="cur no-underline fz15 db icon-vk"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.facebook('http://google.com','TITLE','IMG_PATH','DESC')" class="cur no-underline fz15 db icon-facebook"></a>
                                    </li>
                                    <li class="pull-left">
                                        <a onclick="Share.odnoklassniki('http://google.com','DESC')" class="cur no-underline fz15 db icon-odnoklassniki"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container text-white">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="logo db">
                                <a href="#">
                                    <img src="img/header_logo.png" class="pull-left">
                                </a>
                                <p class="title fz22 text-uppercase">Mana Corporate law</p>
                                <p class="description">Law firm</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="menu">
                                <ul class="lsn clearfix pl0 mb0">
                                    <li class="pull-left active">
                                        <a href="/" class="db no-underline">Главная</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="/about.html" class="db no-underline">О компании</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="/news.html" class="db no-underline">Новости и аналитика</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="#" class="db no-underline">Услуги</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="phone pull-right">
                                <span class="icon-mobile-1 text-orange fz36 dib"></span>
                                <span class="fz27">
                                    <a href="tel:+7 (988) 240-89-10">+7 (988) 240-89-10</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="section-head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="section-title">Корпоративное управление и раскрытие информации</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="section-line mb26"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <em>Надежность и оперативность</em>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="big-list">
                            <ul class="lsn">
                                <li>
                                    <span class="list-number">1.</span>Организация и анализ системы корпоративного управления, проверка соответствия законодательным требованиям; выявление рисков и выработка рекомендаций по минимизации выявленных рисков;</li>
                                <li>
                                    <span class="list-number">2.</span>Подготовка документов, регулирующих деятельность органов компании;</li>
                                <li>
                                    <span class="list-number">3.</span>Подготовка, созыв, проведение общих собраний акционеров (участников), заседаний совета директоров; представление интересов на общих собраниях акционеров (участников);</li>
                                <li>
                                    <span class="list-number">4.</span>Обязательное раскрытие информации;</li>
                                <li>
                                    <span class="list-number">5.</span>Осуществление функций корпоративного секретаря либо оказание корпоративному секретарю юридической поддержки;</li>
                                <li>
                                    <span class="list-number">6.</span>Медиация (посредничество) при урегулировании корпоративных конфликтов и разделении бизнеса;</li>
                                <li>
                                    <span class="list-number">7.</span>Представление интересов в отношениях с другими участниками (акционерами); подготовка корпоративных договоров, акционерных соглашений.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="orange-block">
                            <h3 class="text-uppercase">Корпоративное управление</h3>
                            <p>Корпоративное управление – система взаимоотношений между менеджментом компании, его советом директоров, акционерами (участниками) и другими заинтересованными сторонами. Корпоративное управление является инструментом для определения
                                целей компании и средств достижения этих целей, а также обеспечения эффективного контроля за деятельностью компании со стороны акционеров (участников) и других заинтересованных сторон.</p>
                            <p>Система корпоративного управления в компании влияет не только на текущие доходы компании, но и на будущее бизнеса в самом широком смысле. Достаточный уровень информационной прозрачности, ясности в процессе принятия корпоративных
                                решений, возможность участия в принятии решений дает дополнительные гарантии и имеет существенное значение для инвесторов.</p>
                            <p>Система корпоративного управления призвана создать систему сдержек и противовесов, учитывающую интересы различных сторон. Недостаточный уровень корпоративного управления провоцирует возникновение различных конфликтных ситуаций
                                во взаимоотношениях владельцев бизнеса между собой, с менеджментом и иными заинтересованными лицами.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-collapse">
                            <div data-target="#collapse-one" data-toggle="collapse" class="cur no-select collapse-title">
                                <h3 class="mt0 mb0 text-uppercase">Вопросы корпоративного управления
                                    <span class="more">(подробнее)</span>
                                </h3>
                            </div>
                            <div id="collapse-one" class="collapse-body collapse">
                                <p>В связи с вступлением с 01.09.2014 в силу Федерального закона от 05.05.2014 № 99-ФЗ "О внесении изменений в главу 4 части первой Гражданского кодекса Российской Федерации и о признании утратившими силу отдельных положений
                                    законодательных актов Российской Федерации" (далее – Закон № 99-ФЗ) Банк России сообщает следующее.</p>
                                <p>1. Закон № 99-ФЗ исключает из Гражданского кодекса Российской Федерации понятие типов акционерных обществ (открытые и закрытые) и вводит понятие публичных и непубличных акционерных обществ. Вместе с тем, до приведения устава
                                    в соответствие с ГК РФ в редакции Закона № 99-ФЗ, открытые и закрытые акционерные общества сохраняют свое наименование и к ним применяются положения законодательства Российской Федерации в части, не противоречащей ГК
                                    РФ в редакции Закона.</p>
                                <p>2. Положения об открытых акционерных обществах применяются к публичным акционерным обществам в части, не противоречащей ГК РФ в редакции Закона № 99-ФЗ (пункт 1.1 статьи 1 Федерального закона от 26.12.1995 № 208-ФЗ "Об
                                    акционерных обществах" в редакции Федерального закона от 21.07.2014 № 218-ФЗ "О внесении изменений в отдельные законодательные акты Российской Федерации").</p>
                                <p>Открытые и закрытые акционерные общества, осуществлявшие до 01.09.2014 раскрытие информации в соответствии со статьей 92 Закона об акционерных обществах продолжают осуществлять указанное обязательное раскрытие информации.</p>
                                <p>Публичное акционерное общество после 01.09.2014 обязано раскрывать информацию в соответствии со статьей 92 Закона об акционерных обществах. Требования к составу информации, подлежащей обязательному раскрытию акционерными
                                    обществами, которые привели устав в соответствие с ГК РФ в редакции Закона № 99-ФЗ и не являющимися публичными, а также к порядку и срокам раскрытия такой информации будут установлены законодательством Российской Федерации
                                    при его приведении в соответствие с Законом № 99-ФЗ.</p>
                                <p>У публичных акционерных обществ, а также у акционерных обществ, не являющихся публичными (открытых и закрытых акционерных обществ до приведения их уставов в соответствие с ГК РФ в редакции Закона № 99-ФЗ), которые обязаны
                                    раскрывать информацию в соответствии со статьей 30 Федерального закона от 22.04.1996 № 39-ФЗ "О рынке ценных бумаг", соответствующая обязанность с 01.09.2014 не прекращается. При этом сам по себе статус публичного акционерного
                                    общества не является основанием для возникновения обязанности по раскрытию информации в соответствии со статьей 30 Закона о рынке ценных бумаг .</p>
                                <p>После 01.09.2014 как публичное акционерное общество, так и акционерное общество, не являющееся публичным, у которых в соответствии с пунктом 4 статьи 30 Закона о рынке ценных бумаг есть обязанность по раскрытию информации,
                                    вправе обратиться с заявлением об освобождении от указанной обязанности в случае, если они соответствуют требованиям, установленным статьей 30.1 Закона о рынке ценных бумаг.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="orange-block">
                            <h3 class="text-uppercase">Раскрытия информации</h3>
                            <ol>
                                <li>Сопровождение раскрытия информации и подготовка необходимых документов;</li>
                                <li>Раскрытие информации о выпуске (дополнительном выпуске) ценных бумаг; раскрытие в форме ежеквартального отчета, сообщений о существенных фактах; подготовка сведений об аффилированных лицах;</li>
                                <li>Взаимодействие с уполномоченными информационными агентствами;</li>
                                <li>Консультирование по вопросам порядка раскрытия информации;</li>
                                <li>Разработка внутреннего регламента о раскрытии информации.</li>
                            </ol>
                            <p>Корпоративное управление – система взаимоотношений между менеджментом компании, его советом директоров, акционерами (участниками) и другими заинтересованными сторонами. Корпоративное управление является инструментом для определения
                                целей компании и средств достижения этих целей, а также обеспечения эффективного контроля за деятельностью компании со стороны акционеров (участников) и других заинтересованных сторон.</p>
                            <p>Система корпоративного управления в компании влияет не только на текущие доходы компании, но и на будущее бизнеса в самом широком смысле. Достаточный уровень информационной прозрачности, ясности в процессе принятия корпоративных
                                решений, возможность участия в принятии решений дает дополнительные гарантии и имеет существенное значение для инвесторов.</p>
                            <p>Система корпоративного управления призвана создать систему сдержек и противовесов, учитывающую интересы различных сторон. Недостаточный уровень корпоративного управления провоцирует возникновение различных конфликтных ситуаций
                                во взаимоотношениях владельцев бизнеса между собой, с менеджментом и иными заинтересованными лицами.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-collapse">
                            <div data-target="#collapse-two" data-toggle="collapse" class="cur no-select collapse-title">
                                <h3 class="mt0 mb0 text-uppercase">Разъяснение по вопросу раскрытия информации в связи с исключение деления акционерных обществ на открытые и закрытые
                                    <span class="more">(подробнее)</span>
                                </h3>
                            </div>
                            <div id="collapse-two" class="collapse-body collapse">
                                <p>В связи с вступлением с 01.09.2014 в силу Федерального закона от 05.05.2014 № 99-ФЗ "О внесении изменений в главу 4 части первой Гражданского кодекса Российской Федерации и о признании утратившими силу отдельных положений
                                    законодательных актов Российской Федерации" (далее – Закон № 99-ФЗ) Банк России сообщает следующее.</p>
                                <p>1. Закон № 99-ФЗ исключает из Гражданского кодекса Российской Федерации понятие типов акционерных обществ (открытые и закрытые) и вводит понятие публичных и непубличных акционерных обществ. Вместе с тем, до приведения устава
                                    в соответствие с ГК РФ в редакции Закона № 99-ФЗ, открытые и закрытые акционерные общества сохраняют свое наименование и к ним применяются положения законодательства Российской Федерации в части, не противоречащей ГК
                                    РФ в редакции Закона.</p>
                                <p>2. Положения об открытых акционерных обществах применяются к публичным акционерным обществам в части, не противоречащей ГК РФ в редакции Закона № 99-ФЗ (пункт 1.1 статьи 1 Федерального закона от 26.12.1995 № 208-ФЗ "Об
                                    акционерных обществах" в редакции Федерального закона от 21.07.2014 № 218-ФЗ "О внесении изменений в отдельные законодательные акты Российской Федерации").</p>
                                <p>Открытые и закрытые акционерные общества, осуществлявшие до 01.09.2014 раскрытие информации в соответствии со статьей 92 Закона об акционерных обществах продолжают осуществлять указанное обязательное раскрытие информации.</p>
                                <p>Публичное акционерное общество после 01.09.2014 обязано раскрывать информацию в соответствии со статьей 92 Закона об акционерных обществах. Требования к составу информации, подлежащей обязательному раскрытию акционерными
                                    обществами, которые привели устав в соответствие с ГК РФ в редакции Закона № 99-ФЗ и не являющимися публичными, а также к порядку и срокам раскрытия такой информации будут установлены законодательством Российской Федерации
                                    при его приведении в соответствие с Законом № 99-ФЗ.</p>
                                <p>У публичных акционерных обществ, а также у акционерных обществ, не являющихся публичными (открытых и закрытых акционерных обществ до приведения их уставов в соответствие с ГК РФ в редакции Закона № 99-ФЗ), которые обязаны
                                    раскрывать информацию в соответствии со статьей 30 Федерального закона от 22.04.1996 № 39-ФЗ "О рынке ценных бумаг", соответствующая обязанность с 01.09.2014 не прекращается. При этом сам по себе статус публичного акционерного
                                    общества не является основанием для возникновения обязанности по раскрытию информации в соответствии со статьей 30 Закона о рынке ценных бумаг .</p>
                                <p>После 01.09.2014 как публичное акционерное общество, так и акционерное общество, не являющееся публичным, у которых в соответствии с пунктом 4 статьи 30 Закона о рынке ценных бумаг есть обязанность по раскрытию информации,
                                    вправе обратиться с заявлением об освобождении от указанной обязанности в случае, если они соответствуют требованиям, установленным статьей 30.1 Закона о рынке ценных бумаг.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-head">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="section-title">Корпоративное управление и раскрытие информации</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="section-line mb26"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="big-links">
                            <ul class="pl0 lsn">
                                <li>
                                    <a href="#" class="db text-roboto">Раскрытие информации: обязанность и порядок</a>
                                </li>
                                <li>
                                    <a href="#" class="db text-roboto">Общее собрание участников и общее собрание акционеров: созыв и порядок проведения</a>
                                </li>
                                <li>
                                    <a href="#" class="db text-roboto">Методика самооценки качества корпоративного управления</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="form">
            <h3 class="form-title table-center text-roboto fz57 text-white">Напишите свой
                <span class="text-tahoma fz60">вопрос</span>
            </h3>
            <form class="text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-info">
                                <h4 class="fz30 text-roboto">Адрес:</h4>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <div class="icon-compass-1 text-white fz35"></div>
                                    </div>
                                    <div class="media-body">
                                        <p class="fz20">г. Краснодар,</p>
                                        <p class="fz20">ул. Ставропольсткая</p>
                                        <p class="fz20">253, офис 10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-xs-offset-1">
                            <input type="text" placeholder="Введите имя">
                            <input type="text" placeholder="Введите телефон">
                            <input type="email" placeholder="Введите e-mail">
                            <textarea placeholder="Ваш вопрос"></textarea>
                            <button type="submit" class="text-uppercase">Отправить</button>
                        </div>
                        <div class="col-xs-3 col-xs-offset-1">
                            <div class="form-info">
                                <h4 class="fz30 text-roboto">Контакты:</h4>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <div class="icon-mobile-1 text-white fz36"></div>
                                    </div>
                                    <div class="media-body">
                                        <p class="fz23">
                                            <a href="tel:+7 (000) 000-00-00">+7 (000) 000-00-00</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <div class="icon-mail text-white fz36"></div>
                                    </div>
                                    <div class="media-body">
                                        <p class="fz20">
                                            <a href="mailto:advokat@mail.ru">advokat@mail.ru</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="before-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="title">
                            <h4 class="text-white text-center fz40">Услуги:</h4>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <ul class="clearfix lsn">
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Корпоративное управление и раскрытие информации</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Продажа доли ООО, акций, бизнеса</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Эмиссия ценных бумаг и регистрация акций</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Региональное представительство</a>
                            </li>
                            <li class="pull-left fz18 text-roboto text-center pr">
                                <a href="#" class="db">Создание и регистрация фирм: АО и ООО</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="copyright">
                            <p>© «Мана. Юридическая фирма» 2015. Все права защищены.</p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="footer-logo">
                            <span class="fz13">Интернет агентство -</span>
                            <a href="http://art6.ru">
                                <img src="img/art6_logo.png" class="dib">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5,underscorejs@1.8.3"></script>
        <script src="js/flux.min.js"></script>
        <script src="js/jquery.bxslider.min.js"></script>
        <script src="js/jquery.texttailor.min.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>
